* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  padding: 20%;
}

.component {
  height: 10%;
  margin: 3%;
  display: flex;
  flex-direction: column;
}
